page-splashscreen {
	.content {
		background-color: #18C6F4;
		width: 100%;
		height: 100%;
		position: fixed;

		ion-label {
			font-family: Ginóra Sans;
			font-size: 3em;
			color: #fff;
			text-align: center;
			line-height: 500px;
			
		}
	}
	
	
}
