page-create {
	
	.attach {
	color: #999;
	
	}
	.ikon {
	margin-left: 150px;
	margin-top: -8px;
	}
	.keterangan {
	height: 150px;
	}
	.ikon2 {
	margin-left: 100px;
	margin-top: -8px;
	}
	.pin {
	color: #999;
	margin-top: 10px;
	}
}
